{% extends 'base.html.twig' %}

{% block title %}Nos cinémas{% endblock %}

{% block content %}
    
    <div class="col-12 px-5 py-3 my-3 mb-0 align-items-center">
        
        <div class="card text-bg-dark mb-3 mx-auto">
            
            <div class="card-header fs-5"><h2>{{ block('title') }}</h2></div>
            <div class="card-body p-5 ">
                
                <h3>Nos cinémas</h3>
                <p>Nous proposons actuellement 5 cinémas en France :</p>
                <ul>
                    <li>Nantes</li>
                    <li>Bordeaux</li>
                    <li>Paris</li>
                    <li>Toulouse</li>
                    <li>Lille</li>
                </ul>
                
                <p>et 2 en Belgique :</p>
                <ul>
                    <li>Charleroi</li>
                    <li>Liège</li>
                </ul>
            
            </div>
        </div>
    </div>


{% endblock %}