{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block content %}
    
    <div class="col-12 px-5 py-3 my-3 mb-0 align-items-center">
        
        <div class="card text-bg-dark mb-3 mx-auto" style="max-width: 875px;">
            
            <div class="card-header fs-5"><h2>{{ block('title') }}</h2></div>
            <div class="card-body p-5 ">
                
                <h3>Qui sommes-nous ?</h3>
                <p>L’adresse de notre site est : <a href="https://cinephoria.guhring.ovh">cinephoria.guhring.ovh</a>.</p>
                <h5 class="text-danger my-3">Voir la page <a href="">Mentions légales</a> pour plus de détails</h5>
                
                
                <h3>Cookies</h3>
                
                <p>Lorsque vous vous connectez au site, nous mettrons en place un cookies pour enregistrer
                    vos informations de connexion. La durée de vie d’un cookie de connexion est limitée à la session
                    de votre navigateur. Lorsque vous vous déconnectez, ou si vous fermez la fenêtre de votre navigateur,
                    le cookie de connexion sera effacé.
                </p>
                
                <p>Aucun autre traitement n'est réalisé.</p>
                
                <p>Un cookie est une information déposée par le serveur sur votre disque dur, dans le stockage sécurisé
                    du navigateur, au même titre que les fichiers temporaires et d'autres informations.</p>
                
                <p class="text-warning">Pour ce cas d'école, le site ne vous demandera pas d'accepter les cookies.</p>
                
                
                <h3>Contenu embarqué depuis d’autres sites</h3>
                
                <p>Les films à l'affiche sur ce site peuvent inclure des contenus intégrés (par exemple des vidéos de
                    bande-annonce depuis Youtube ou Allociné.com, ou des images).
                    Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se
                    rendait sur cet autre site.</p>
                
                <p>Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils
                    de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte
                    connecté sur leur site web.</p>
                
                <p>Il n'existe aucun moyen pour contrôler les sites en connexion avec ce site internet.</p>
                <p>Le développeur ne répond donc pas de la disponibilité de tels sites et sources externes, ni ne la
                    garantit. il ne peut être tenu pour responsable de tout dommage, de quelque nature que ce soit,
                    résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou
                    services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments.</p>
                <p>Les risques liés à cette utilisation incombent pleinement à l’internaute, qui doit se conformer à
                    leurs conditions d’utilisation.</p>
                
                <h3>Utilisation et transmission de vos données personnelles</h3>
                
                <p>Si vous demandez une réinitialisation de votre mot de passe, votre adresse IP sera incluse dans
                    l’e-mail de réinitialisation.</p>
                
                
                <h3>Durées de stockage de vos données</h3>
                
                <p>Pour les personnes qui s’inscrivent sur notre site, nous stockons les données personnelles
                    indiquées dans leur profil. Tous les comptes peuvent voir, modifier ou supprimer leurs informations
                    personnelles à tout moment (à l’exception de leur identifiant). Les gestionnaires du site peuvent
                    aussi voir et modifier ces informations.</p>
                
                
                <h3>Les droits que vous avez sur vos données</h3>
                
                <p>Si vous avez un compte sur le site, vous pouvez demander à recevoir un fichier contenant toutes les
                    données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies.
                    Vous pouvez également demander la suppression des données personnelles vous concernant.
                </p>
            
            </div>
        </div>
    </div>

{% endblock %}