{% extends 'base.html.twig' %}

{% block title %}Nos technologies{% endblock %}

{% block content %}
    
    <div class="col-12 px-2 px-sm-3 px-md-4 px-xl-5 mb-0 align-items-center page_technologies">
        
        <img class="img-fluid" src="images/banniere-ice.jpg" alt="Salle ICE">
        
        <div class="card text-bg-dark mb-0 mx-auto mt-4">
            
            <div class="card-header fs-5"><h2>{{ block('title') }}</h2></div>
            <div class="card-body py-5 px-3 px-sm-4 px-xl-5">
                
                <div class="row mb-5">
                    <div class="col-12">
                        <h3>Projection laser 4K</h3>
                        
                        <img src="images/Barco-SP4K.png" class="img-fluid float-end pb-3" alt="Barco SP4K">
                        
                        <p>
                            Cinéphoria vous offre la meilleure qualité d'image sur grand écran...
                            Une expérience à l'avant-garde de l'innovation, dans toutes nos salles (hors salles Onyx)
                        </p>
                        
                        <h5 class="text-success-emphasis">LASER PHOSPHORE : Richesse des couleurs pour une immersion dans l'action</h5>
                        <p>
                            Pour équiper ses salles en laser, Cinéphoria a choisi le projecteur Barco® SP4K : un matériel à la
                            pointe de la technologie, qui permet de projeter une image d'une luminosité et d'une définition inégalées,
                            en 2D comme en 3D. La projection laser est aussi le meilleur moyen de reproduire la richesse et les
                            nuances des couleurs, avec un contraste supérieur, sans oscillation. La luminosité de chaque projecteur
                            est adaptée spécifiquement à chaque salle.
                        </p>
                        <p>
                            Ce rendu naturel, très réaliste, vous plonge totalement dans votre film !
                        </p>
                        
                        <p>
                            La projection laser est aussi le meilleur moyen de reproduire la richesse et les nuances
                            des couleurs, avec un contraste supérieur, sans oscillation. Ce rendu naturel, très réaliste,
                            vous plonge totalement dans votre film !.
                        </p>
                    
                    </div>
                </div>
                
                <div class="row mb-5">
                    <div class="col-12">
                        
                        <img src="images/salle-imax-1.jpg" class="img-fluid image_shadow float-start" alt="Salle IMAX">
                        
                        <h3>Salles IMAX</h3>
                        
                        <h5 class="text-success-emphasis">LASER 8K : LE CINÉMA COMME VOUS NE L'AVEZ ENCORE JAMAIS VU !</h5>
                        <p>
                            « Image maximum » pour immersion maximale ! Dans nos salles IMAX, nous avons décidé d'aller encore
                            plus loin en vous proposant, pour la première fois en France, la projection Laser 8K.
                        </p>
                        <p>
                            Résolution ultime et source laser-phosphore de 37 000 lumens pour une expérience visuelle exceptionnelle !
                        </p>
                        <p>
                            Avec une résolution extrêmement élevée de 7680 X 4320 pixels et grâce à sa source laser,
                            le projecteur INSIGHT Laser 8K Offre tout simplement la meilleure qualité jamais vue !
                            Combinée à la taille démesurée des écrans IMAX, vous serez saisis par un niveau de détails exceptionnel !
                        </p>
            
                    </div>
                </div>
                
                <div class="row mb-5">
                    <div class="col-12">
                        
                        <h3>Salles 4DX ICE</h3>
                        <h5 class="text-success-emphasis">
                            VIVEZ VOTRE FILM COMME SI VOUS Y ETIEZ ! UNE EXPÉRIENCE IMMERSIVE, À COUPER LE SOUFFLE !
                            L'expérience de cinéma absolue.
                        </h5>
                        
                        <img src="images/4dx-1.jpg" class="img-fluid image_shadow float-end" alt="4DX - Mise en scène">
                        
                        <p>
                            Plongés au cœur du film, tous vos sens sont stimulés au travers d'une expérience
                            cinématographique immersive, unique et inédite.
                        </p>
                        <p>
                            Développée par la société sud-coréenne CJ 4DPLEX, la technologie 4DX transforme la salle de cinéma
                            pour chambouler les limites habituelles de l’écran. Vous êtes bel et bien plongés au cœur de
                            l’action et vivez l’histoire comme si vous étiez à la place des personnages.
                        </p>
                        <p>
                            Du côté de l’écran, tout se passe normalement : le film projeté demeure identique à une projection
                            classique, qu’il soit en 2D ou 3D.
                        </p>
                        <p>
                            La salle est équipée d’un système sophistiqué de technologies associant les mouvements des sièges
                            à des effets spéciaux. Le tout est parfaitement synchronisé avec les moindres détails de l’histoire
                            et particulièrement lors des scènes d’action où vos sens sont intensément sollicités.
                        </p>
                        <p>
                            4DX permet au spectateur de voir un film dans des conditions immersives avec des effets de lumière,
                            de mouvement, d'odeur et d'atmosphère, synchronisées avec le film projeté. Par exemple,
                            une course-poursuite en voiture provoque des mouvements du siège, un moment sous la pluie
                            projette des gouttelettes d'eau, un passage dans une jungle diffuse des odeurs de plantes dans
                            la salle, une scène dans une discothèque fait fonctionner les stroboscopes de la salle.
                        </p>
                        <img src="images/salle-ice-3.jpg" class="img-fluid image_shadow float-end" alt="Barco SP4K">
                        
                        <p>
                            Mais chez Cinéphoria, nous avons décidé de ne pas nous en contenter, et de pousser l'immersion à son
                            paroxysme avec ICE, pour Immersive Cinema Experience, vous pourrez bénéficier d'une technologie encore
                            plus novatrice. Créé par Cinéphoria, ICE combine la qualité exceptionnelle de l'image laser,
                            du Dolby Atmos®, du Dolby Cinema, et de panneaux latéraux pour une immersion inégalée.
                        </p>
                        <p>
                            Les panneaux leds latéraux lumino-textiles offrent une sensation d’immersion grâce aux couleurs
                            et aux formes dynamiques qu’ils diffusent. Ils permettent d’élargir l’horizon d’un paysage ou de
                            renforcer la chaleur d’une explosion, de façon subtile et élégante. Ils reflètent la vision
                            périphérique de l’œil humain, permettant au public de rester concentré sur le grand écran pour
                            une plus grande immersion dans le film.
                        </p>
                        <p>
                            De plus, Dolby Atmos®, en configuration maximale, transporte le spectateur dans un univers sonore
                            d'un réalisme époustouflant. Le son se diffuse en effet dans toute la salle grâce à 64 canaux
                            uniques, pour vous faire vivre des séances de cinéma encore plus fortes en sensations ! Vous
                            entendrez chaque détail sonore !
                        </p>
                        <p>
                            Ces procédés, uniques au monde, intensifient encore plus l'impression d'une immersion totale.
                            Vous ne vous contentez plus de regarder votre film... vous le vivez, comme si vous y étiez !
                        </p>
                        <p>
                            Mais ce n'est pas tout ! La salle premium 4DX ICE offre bien plus qu’une excellence technologique :
                            votre confort est au cœur de l’expérience. Nous avons amélioré les sièges 4DX "standard".
                            Profitez de fauteuils club inclinables développés spécifiquement pour la salle 4DX ICE.
                            L’écart entre les rangées offre davantage d’espace. La combinaison des rangées cintrées et du
                            gradinage réhaussé permet d’accéder à une orientation idéale vers l’écran.
                        </p>
                    </div>
                </div>
                
                <div class="row mb-5">
                    <div class="col-12">
                    
                        <h3>Expérience 3D</h3>
                        <h5 class="text-success-emphasis">
                            Avec la 3D, vivez une expérience hyper réaliste
                        </h5>
                        <img src="images/cinema-film-3d.jpg" class="img-fluid image_shadow float-start" alt="Salle IMAX">
                        
                        <p>
                            Notre projection 3D 100% numérique est possible grâce au système révolutionnaire RealD Cinema.
                            Il vous offre une expérience incroyablement réaliste et totalement immersive.
                        </p>
                        <p>
                            Cette technologie vous propose de vivre un film en totale immersion, avec des images nettes,
                            claires et hyper réalistes. La 3D ajoute de la profondeur et des effets de jaillissement
                            hors de l'écran qui vous plongent au cœur de l'action !
                        </p>
                        <p>
                            Chacun de nos yeux voit le même objet sous un angle légèrement différent. Le cerveau humain
                            synthétise alors les deux images en une seule, créant ainsi la perception de profondeur.
                        </p>
                        <p>
                            Les films RealD 3D sont projetés avec un projecteur de cinéma numérique équipé de la technologie 3D.
                            Un écran spécial est utilisé pour augmenter la luminosité de l'image et maintenir la polarisation.
                            Les images sont projetées alternativement en image œil gauche et en image œil droit
                            (plusieurs centaines de fois par seconde, si vite que vous ne le remarquerez pas).
                        </p>
                        <p>
                            Vos lunettes 3D garantissent que chaque œil voit la bonne image, trompant votre cerveau
                            en lui faisant croire que vous voyez en trois dimensions (alors qu'il n'y en a que deux bien sûr !).
                        </p>
                        <p>
                            C'est cette technologie très intelligente qui donne vie à votre film en 3D !
                        </p>
                    </div>
                </div>
                
                <div class="row mb-5">
                    <div class="col-12">
                    
                        <h3>Salles Onyx</h3>
                        <img src="images/salle-onyx-2.jpg" class="img-fluid image_shadow float-end" alt="Salle ONYX">
                        
                        <p>
                            Afin de vous offrir toujours plus de choix, Cinéphoria fait équipe avec samsung pour équiper certaines
                            salles avec la technologie The Wall, un écran 8K MICRO LED.
                        </p>
                        <p>
                            Le couple projecteur-toile est remplacé par un écran ou chaque pixel produit sa propre lumière.
                            À l'instar des écrans Super-Amoled des smartphones, lorsqu'une partie de l'image est noire,
                            cette partie de l'écran est totalement éteinte, le noir est donc absolu, et n'est pas pollué
                            par un filtrage imparfait de la source lumineuse. Combiné avec le niveau
                            de luminosité sans précédent atteint par ces écrans, le taux de contraste tend vers l'infini.
                        </p>
                        <p>
                            La luminosité est identique à n'importe quel point de l'écran. Plus d'effet de vignetage dû à
                            une source de lumière centrale.
                        </p>
                        
                        <p>
                            Samsung Onyx peut également offrir des expériences cinématographiques exceptionnelles en 3D
                            grâce aux capacités 3D des écrans Onyx LED, qui garantissent une meilleure luminosité et une
                            amplification cohérente des couleurs pour un réalisme accru. En portant des lunettes 3D actives,
                            le texte des sous-titres d’un film, les images et même les détails visuels mineurs gagnent une
                            clarté sans précédent, sans ombres et avec moins de sensation de vertige que dans les salles de
                            cinéma 3D classiques.
                        </p>
                    </div>
                </div>
            
            
            </div>
        </div>
    </div>


{% endblock %}