#header-logo span.logo-custom h4 {
	color: cornflowerblue;
}

#main-menu .menu .menu-item {
	font-size: 1.35em;
	padding: 0.5em;
}

#main-menu .menu .menu-item.active {
	background: rgb(0, 79, 181);
}
#main-menu .menu .menu-item.active:not(.expanded) a, #main-menu .menu .menu-item.active:not(.expanded) .menu-icon, #main-menu .menu .menu-item.active:not(.expanded) a {
	color: white;
}
#main-menu .menu .menu-item a:hover, #main-menu .menu .menu-item a:hover .menu-icon {
	color: rgb(60, 140, 255);
}

@media (min-width: 768px) {
	.col-md-6 {
		width: 100%;
	}
}