:root {
  /* make the backend contents as wide as the browser window */
  --body-max-width: 100%;
}

.jq-schedule * {
  box-sizing: border-box;
}
.jq-schedule .sc_wrapper:after,
.jq-schedule .sc_menu:after {
  content: "";
  display: table;
  clear: both;
}
.jq-schedule .sc_menu {
  width: 100%;
  height: 26px;
}
.jq-schedule .sc_menu .sc_header_cell {
  float: left;
}
.jq-schedule .sc_menu .sc_header {
  float: left;
  height: 26px;
  position: relative;
  overflow: hidden;
}
.jq-schedule .sc_menu .sc_header .sc_time {
  text-align: center;
  border-left: solid 1px #555;
  background: #222;
}
.jq-schedule .sc_menu .sc_header_cell,
.jq-schedule .sc_data {
  float: left;
  font-weight: bold;
  color: #fff;
  background: #222;
  position: relative;
}
.jq-schedule .sc_menu .sc_header_scroll,
.jq-schedule .sc_data .sc_data_scroll {
  position: absolute;
  left: 0;
  top: 0;
}
.jq-schedule .sc_menu .sc_header_cell,
.jq-schedule .sc_header .sc_time,
.jq-schedule .sc_main_scroll .sc_time {
  color: #fff;
  padding: 0;
  line-height: 26px;
  height: 26px;
  display: block;
}
.jq-schedule .sc_header .sc_time,
.jq-schedule .sc_main_scroll .sc_time {
  float: left;
}
.jq-schedule .sc_main_box,
.jq-schedule .sc_data {
  max-height: 500px;
  overflow: hidden;
}
.jq-schedule .sc_main_box {
  float: left;
  overflow-x: auto;
  overflow-y: auto;
}
.jq-schedule .sc_main {
  position: relative;
}
.jq-schedule .timeline {
  position: relative;
}
.jq-schedule .ui-draggable-dragging,
.jq-schedule .ui-resizeable {
  z-index: 20;
}
.jq-schedule .sc_bar {
  position: absolute;
  color: #fff;
  background: rgba(66, 131, 255, 0.4);
  cursor: pointer;
  z-index: 10;
}
.jq-schedule .sc_bar .head {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px;
  margin-bottom: 3px;
  height: 1.3em;
  overflow: hidden;
  text-align: center;
}
.jq-schedule .sc_bar .text {
  display: block;
  margin-top: 6px;
  font-weight: normal;
  padding: 0 10px;
  height: 2.5em;
  line-height: 1.1em;
  overflow: hidden;
  text-align: center;
}
.jq-schedule .sc_bar .ui-resizable-handle {
  display: none;
  content: " ";
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 5px;
  background: none;
}
.jq-schedule .sc_bar .ui-resizable-handle.ui-resizable-e {
  right: 0;
}
.jq-schedule .sc_bar .ui-resizable-handle.ui-resizable-w {
  left: 0;
}
.jq-schedule .timeline,
.jq-schedule .sc_main .tb {
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.jq-schedule .sc_data .timeline {
  overflow: hidden;
  padding: 10px;
}
.jq-schedule .sc_data .timeline span {
  display: block;
}
.jq-schedule .sc_data .timeline span.timeline-subtitle {
  font-size: 0.8em;
  color: #888;
}
.jq-schedule .sc_main_scroll .sc_main .tl {
  float: left;
  height: 100%;
  border-right: solid 1px rgba(255,255,255,0.1);
}
.jq-schedule .sc_main_scroll .sc_main .tl:hover {
  background: rgba(13, 253, 25, 0.35);
}
.jq-schedule .ui-state-disabled {
  opacity: 1;
}
.jq-schedule .ui-state-disabled .ui-resizable-handle {
  display: none;
}
.jq-schedule .ui-state-disabled .ui-resizable-handle:hover {
  cursor: auto;
}
.jq-schedule .ui-draggable-disabled {
  opacity: 0.8;
}

.jq-schedule .sc_bar.nouveau {
  background: rgba(0,100,255,1);
}

.jq-schedule .sc_bar_photo .text, .jq-schedule .sc_bar_photo .head {
  padding-left: 57px;
}



.jq-schedule .sc_bar_photo .photo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.jq-schedule .sc_bar_photo .photo img {
  width: auto;
  max-height: 50px;
}

.bouton_film, .badge_choix_techno {
  cursor: pointer;
}
.bouton_film:hover, .badge_choix_techno:hover {
  box-shadow: 0 0 8px 4px rgba(0,120,255,0.6);
  background-color: rgba(0,100,255,0.3) !important;

}
.bouton_film.active, .badge_choix_techno.active {
  border: 1px solid rgba(0,255,100,1);
  box-shadow: 0 0 10px 5px rgba(0,255,100,0.5);
}

.ligne_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ligne_menu .nav-item a {
  cursor: pointer;
  background-color: rgba(200,225,255,0.1);
  margin: 2px
}
.ligne_menu .nav-item a:hover {
  color: #fff;
  background-color: rgba(200,225,255,0.3);
}

.menu_techno {
  min-width: 200px;
  margin-left: 1.5em;
}